body {
    background-color: #eeeeee;
    font-family: "Jokerman", Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: default;
    /* background-image: url(food.jpg);
    background-size: 57em 25em;
    background-repeat: no-repeat; */
}

#skills {
    width: 30em;
    height: 1.5em;
}

.imgLink {
    display: inline;
}

.imgLink1, .imgLink2 {
    border: solid black 0.3em;
    margin-bottom: 1em;
}

.foodImg {
    width: 45em;
    height: 28em;
}

area {
    outline-color: darkgreen;
}

area:hover,
area:active,
area:focus {
    outline-color: orange;
}

.img {
    width: 6em;
}

#navContainer {
    background-color: pink;
}

h1 {
    background-color: darkgoldenrod;
    color: darkgreen;
    text-indent: 1em;
}

h2 {
    color: darkorange;
    text-shadow: 1em 1em 1em white;
}

.header-styled {
    color: darkolivegreen;
    font-weight: 900;
    text-shadow: 1em 1em 1em blue;
}