body {
    background-color: #eeeeee;
    font-family: "Jokerman", Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: default;
    /* background-image: url(food.jpg);
    background-size: 57em 25em;
    background-repeat: no-repeat; */
}

#skills {
    width: 30em;
    height: 1.5em;
}

.container, #container1, #container2, #container3, #container4 {
    padding: 2em;
    margin-bottom: 2em;
}

.container {
    background-image: linear-gradient(red, yellow);
}

#container1 {
    background-image: repeating-linear-gradient(to right, pink 40%, purple 60%);
}

#container2 {
    background-image: linear-gradient(to left, green, rgba(0, 0, 255, 0.048));
}

#container3 {
    background-image: linear-gradient(to bottom left, grey, orange);
}

#container4 {
    background-image: linear-gradient(to bottom right, red, yellow, pink, green, violet, purple, blue, gold);
}

.imgLink {
    display: inline;
}

.imgLink1, .imgLink2 {
    border: solid black 0.3em;
    margin-bottom: 1em;
}

.foodImg {
    width: 45em;
    height: 28em;
}

area {
    outline-color: darkgreen;
}

area:hover, area:active, area:focus {
    outline-color: orange;
}

.img {
    width: 6em;
}

#navContainer {
    /* background-color: pink; */
    background-color: hsl(255, 89%, 64%);

}

h1 {
    background-color: darkgoldenrod;
    color: darkgreen;
    text-indent: 1em;
    opacity: 0.4;
}

h2 {
    color: darkorange;
    text-shadow: 1em 1em 1em white;
}

.header-styled {
    color: darkolivegreen;
    font-weight: 900;
    text-shadow: 1em 1em 1em blue;
}

.thisOne {
    background-color: magenta;
    opacity: 0.587412526426251;
  }